{erl_opts, [{parse_transform, lager_transform}]}.

%% Directories
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

%% Dependencies
{deps, [
    % {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
    % {gproc, ".*", {git, "git://github.com/uwiger/gproc", {branch, "master"}}},
    {worker_pool, ".*", {git, "git://github.com/inaka/worker_pool", {branch, "master"}}}
    % {epgpb, ".*", {git, "git://github.com/drfloob/epgpb", {branch, "master"}}},
    % {recon, ".*", {git, "git://github.com/ferd/recon", {branch, "master"}}}
]}.
